@model ProjectMaleabAlKorbV2.Models.Contact
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_AdminPage.cshtml";
}

<div class="col-md-12 content-top-2 card">


    <div class="panel panel-primary">
        <div class="panel-heading">
            All Contact
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <a href="#" class="btn btn-info" onclick="AddNewRegisters(0)">Add New Contact</a>
                <br /><br />
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>message No</th>
                            <th>Names</th>
                            <th>Email</th>
                            <th>Messages</th>
                            <th>Date</th>
                            <th>Action(Edit)</th>
                            <th>Action(Delete)</th>
                        </tr>
                    </thead>
                    <tbody id="SetPlayerList">
                        <tr id="LoadingStatus" style="color:red"></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    @*Create a PopUp Modal With Contact Form for Add & Edit Player Record*@
    <div class="modal fade" id="myModalpop" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h4 id="ModalTitle"></h4>
                </div>
                <div class="modal-body">
                    <form id="form">
                        <fieldset id="submitForm">
                            @Html.HiddenFor(c => c.messageNo, new { @id = "plyID" })
                            <div class="form-group">
                                @Html.TextBoxFor(c => c.name , new { @id = "plyName", @class = "form-control", @placeholder = "Name" })
                            </div>
                            <div class="form-group">
                                @Html.TextBoxFor(c => c.emails, new { @id = "email", @class = "form-control", @placeholder = "Email" })
                            </div>
                            <div class="form-group">
                                @Html.TextAreaFor(c => c.allMessage, new { @id = "password", @class = "form-control", @placeholder = "Message" })
                            </div>
                            <div class="form-group">
                                <a class="btn btn-block btn-danger" id="savePlayer">Save</a>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>

    @*Create A PopUp Modal For DeleteConfirmation*@

    <div class="modal fade" id="DeleteConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal">&times;</a>
                    <h4>Delete Contact</h4>
                </div>
                <div class="modal-body">
                    <h4 class="hs">Are You Sure? You Want To Delete This Player.</h4>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-primary" data-dismiss="modal" id="r">Cancle</a>
                    <a href="#" class="btn btn-danger" onclick="ConfirmDelete()">Confirm</a>
                </div>
            </div>
        </div>
    </div>


</div>
<!--Contenu De la pge-->

<script>
    $('LoadingStatus').html('Loading....');
    $.get('/Admin/GetContactList', null, DataBind);

    function DataBind(playerList) {
        var setData = $('#SetPlayerList');
        for (var i = 0; i < playerList.length; i++) {
            var Data = '<tr class="row_' + playerList[i].messageNo + '"><td>' +
                playerList[i].messageNo + '</td><td>' +
                playerList[i].name + '</td><td>' +
                playerList[i].emails + '</td><td>' +
                playerList[i].allMessage + '</td><td>' +
                playerList[i].dateMessage + '</td>' +
                '<td><a href="#" class="btn btn-warning" style="text-align:center;" onclick="EditPlayerRecord(' + playerList[i].messageNo + ')"><span class="glyphicon glyphicon-edit"></span></a></td>' +
                '<td><a href="#" class="btn btn-danger" onclick="DeletePlayerRecord(' + playerList[i].messageNo + ')"><span class="glyphicon glyphicon-trash"></span></a></td>' +
                '</tr>';
            setData.append(Data);
            $('LoadingStatus').html('Loading....');
        }
    }

    //show the Popup for add new Player
    function AddNewRegisters(playerNo) {
        $('#form')[0].reset();
        $('#plyID').val(0);
        $('#ModalTitle').html("Add New Contact");
        $('#myModalpop').modal();
    }

    $('#savePlayer').click(function () {
        var data = $("#submitForm").serialize();
        $.ajax({
            type: "Post",
            url: "/Admin/SaveDataInDatabaseContact",
            data: data,
            success: function (result) {
                alert("Success!..");
                window.location.href = "/Admin/Contact";
                $("#myModalpop").modal("hide");

            }
        })
    });


    //Show The Popup Modal For DeleteComfirmation
    var DeletePlayerRecord = function (playerNo) {
        $("#plyID").val(playerNo);
        $("#DeleteConfirmation").modal("show");
    }
    var ConfirmDelete = function () {
        var plyID = 8;
        $.ajax({
            type: "POST",
            url: "/Admin/DeletePlayer?playerNo=" + plyID,
            success: function (result) {
                $(".row_" + plyID).remove();
                alert("Deleted successfully !!");
                window.location.href = "/Admin/Registers";
                $("#DeleteConfirmation").modal("hide");
            }
        })
    }

</script>