
@{
    ViewBag.Title = "Reservations";
    Layout = "~/Views/Shared/_AdminPage.cshtml";
}

<!--Contenu De la pge-->
<div class="col-md-12 content-top-2 card">


    <div class="panel panel-primary">
        <div class="panel-heading">
            All Reservations
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th><input type="checkbox">&nbsp;All</th>
                            <th>Full Name</th>
                            <th>Login</th>
                            <th>Message</th>
                            <th>Date</th>
                            <th></th>


                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td><input type="checkbox"></td>
                            <td>item 2</td>
                            <td>item 3</td>
                            <td>item 4</td>
                            <td>item 5</td>
                            <td><button type="button" class="btn btn-danger">Delete</button></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>item 2</td>
                            <td>item 3</td>
                            <td>item 4</td>
                            <td>item 5</td>
                            <td><button type="button" class="btn btn-danger">Delete</button></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>item 2</td>
                            <td>item 3</td>
                            <td>item 4</td>
                            <td>item 5</td>
                            <td><button type="button" class="btn btn-danger">Delete</button></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>item 2</td>
                            <td>item 3</td>
                            <td>item 4</td>
                            <td>item 5</td>
                            <td> <button type="button" class="btn btn-danger">Delete</button></td>
                        </tr>



                    </tbody>
                </table>

            </div>
        </div>
    </div>


</div>
