#loginbox {
    /*margin-left: 50%;*/
    padding-bottom: 100%;
    position: absolute;
    top: 350px;
    z-index: 999;
    left: -200px;
}

.panel-title {
    text-align: center;
    font-size: 22px;
    ;
}

@media screen and (max-width: 992px)and (min-width: 768px) {
    #loginbox {
        position: absolute;
        top: 350px;
        z-index: 999;
        left: -60px;

    }

    .panel-title {
        text-align: center;
        font-size: 22px;
    }
}

@media screen and (max-width: 768px)and (min-width: 766px) {
    #loginbox {
        position: absolute;
        top: 300px;
        z-index: 999;
        left: -60px;

    }

    .panel-title {
        text-align: center;
        font-size: 22px;
        ;
    }
}

@media screen and (max-width: 765px) {
    #loginbox {
        position: relative;
        top: 0;
        left: 0;
    }

    .panel-title {
        text-align: center;
        font-size: 22px; 
    }
}